[submodule "ext/qmk-firmware"]
	path = ext/qmk-firmware
	url = git@github.com:ryodeushii/qmk-firmware.git
[submodule "ext/via/app"]
	path = ext/via/app
	url = git@github.com:the-via/app.git
[submodule "ext/via/reader"]
	path = ext/via/reader
	url = git@github.com:the-via/reader.git
